<script>
(function() {
    var cx = '014225321525856802214:jbtjtowm1d4';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
})();
</script>
<section class="is-search is-first">
    <gcse:searchbox-only></gcse:searchbox-only>
</section>
