<!DOCTYPE HTML>
<html>
	<head>
		<title>Zhou Ao' Blog </title>
		<script src="/js/jquery-1.8.3.min.js"></script>
		<script src="/css/5grid/init.js?use=mobile,desktop,1200px,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
		<noscript>
			<link rel="stylesheet" href="/css/5grid/core.css" />
			<link rel="stylesheet" href="/css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="/css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="/css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-desktop.css" />
			<link rel="stylesheet" href="/css/style-1200px.css" />
		</noscript>
	</head>
	<body class="left-sidebar">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Content -->
				{{ content }}
				<!-- Sidebar -->
					<div id="sidebar">
						<!-- Logo -->
							<div id="logo">
								<h1 class="mobileUI-site-name">Zhou Ao</h1>
							</div>
						<!-- Nav -->
							<nav id="nav" class="mobileUI-site-nav">
								<ul>
									<li><a href="/">Blog</a></li>
									<li class="current_page_item"><a href="/opinion">Opinion</a></li>
									<li><a href="/project">Project</a></li>
									<li><a href="/me">Me</a></li>
								</ul>
							</nav>
						<!-- Copyright -->
							<div id="copyright">
								<p>
									&copy; 2014 Zhou Ao P.R.C.
								</p>
							</div>
					</div>
			</div>
</body>
</html>