<!DOCTYPE HTML>
<html>

<head>
    <title>Zhou Ao' Project</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% include Header.html %}
</head>

<body class="left-sidebar">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Content -->
        <div id="content" class="mobileUI-main-content">
            <div id="content-inner">
                <!-- Post -->
                <article class="is-post is-post-excerpt">
                    <header>
                        <h2><a href="{{ post.url }}">{{ page.title }}</a></h2>
                        <span class="byline">{{ page.description }}</span>
                    </header>
                    <div class="info">
                        <span class="date">
                            <span class="month">{{ page.date|date:"%b" }}</span>
                            <span class="day">{{ page.date|date:"%d" }}</span>
                            <span class="year">{{ page.date|date:"%Y" }}</span>
                        </span>
                    </div>
                    {{ content }}
                </article>
            </div>
        </div>
        <!-- Sidebar -->
        <div id="sidebar">
            <!-- Logo -->
            <div id="logo">
                <h1 class="mobileUI-site-name"><a href="/me">Zhou Ao</a></h1>
            </div>
            <!-- Nav -->
            <nav id="nav" class="mobileUI-site-nav">
                <ul>
                    <li><a href="/">Blog</a>
                    </li>
                    <li class="current_page_item"><a href="/project">Project</a>
                    </li>
                    <li><a href="/me">Me</a>
                    </li>
                </ul>
            </nav>
            <!-- Search -->
            {% include Search.html %}
            <!-- Copyright -->
            {% include CopyRight.html %}
        </div>
    </div>
</body>

</html>
